input {
  margin: 1.25rem;
  border-bottom: 2px solid black;
}

input:focus {
  border-bottom: 2px solid darkred;
}

#user-financial-focus-areas > div {
  @apply my-1;
}

@media only screen and (min-width: 768px) {
  #main-container {
    @apply p-10;
  }
}
