@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  height: 100%;
}

body,
#root {
  padding: 1px;
  font-size: 1rem;
  line-height: 1.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  box-sizing: border-box;
  transition: 0.25s;
  outline: none;
}

button {
  border-radius: 5px;
  transition: 0.25s;
}

.brand {
  /* font-family: 'Dancing Script', cursive; */
  font-family: "DM Serif Display", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", sans-serif;
  font-weight: bold;
}

.text-gradient {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  color: transparent;
  background-clip: text;
}

.animated-btn-1 {
  @apply items-center box-border text-[#111] cursor-pointer flex text-base h-12 justify-center leading-6 max-w-full relative text-center no-underline select-none touch-manipulation px-[25px] py-0 mb-2 rounded-lg border-2 border-solid border-[#111] after:bg-[#111] after:content-[""] after:block after:h-12 after:w-full after:absolute after:translate-x-2 after:translate-y-2 after:transition-transform after:duration-[0.2s] after:ease-[ease-out] after:z-[-1] after:rounded-lg after:left-0 after:-top-0.5 hover:after:translate-x-0 hover:after:translate-y-0 md:px-10 md:py-0;
}

.error {
  color: rgb(193, 0, 0);
}

#root {
  height: 100%;
  padding-inline: 1rem;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", sans-serif;
}
